:host {
    --backgroundColor: #{var(--blue)};
    --textColor: #{var(--bck-msg-sent)};
    --hoverBackgroundColor: #{var(--bck-msg-sent)};
    --hoverTextColor: #{var(--blue)};
    --buttonFontSize2: #{var(--button-font-size)};
    --max-width: #{var(--button-in-msg-max-width)};
    --padding: #{var(--button-in-msg-padding)};
    --font-family: #{var(--button-in-msg-font-family)};
    --buttonBorderColor: #{var(--button-border-color)};
    --buttonColor: #{var(--button-color)};
    --buttonBackgroundColor: #ffffff; //#{var(--button-background-color)};
}


.button-in-msg {
    padding: var(--padding);
    position: relative;
    min-width: inherit;
    cursor: pointer;
    border: 1px solid var(--buttonBorderColor);
    background: var(--buttonBackgroundColor);
    font-family: var(--font-family);
    font-size: var(--buttonFontSize2);
    color: var(--textColor);
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 16px;
    font-weight: 500;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    padding: 10px 16px;
    margin: 3px;
    transition: background-color .2s ease;
}

.url {
    transition: background-color .6s ease;
    .icon-button-action {
        position: absolute;
        top: -1px;
        right: 1px;
        svg {
            fill: var(--textColor);
        }
    }
    .icon-button-action-self{
        position: absolute;
        right: 1px;
        svg {
            fill: var(--textColor);
        }
    }
    &:focus,
    &:hover {
        color: var(--hoverTextColor);
        background:  var(--hoverBackgroundColor);
        // transform: scale(1.05);
        .icon-button-action, .icon-button-action-self {
            svg {
                fill: var(--hoverTextColor);
            }
        }
    }
}