<form [formGroup]="form">
  <div class="form-group label-floating" [id]="'wrap-' + fieldBaseId" #div_input
      [ngClass]="{'is-empty': !form?.controls[element.name]?.value}">
    <label class="control-label" [attr.for]="fieldBaseId">
      {{element?.text}}
    </label>
    <textarea
      [id]="fieldBaseId"
      [formControlName]="element?.name"
      [rows]="rows"
      [tabIndex]="element?.tabIndex"
      type="text"
      class="form-control"
      [attr.aria-required]="element?.mandatory ? 'true' : null"
      [attr.aria-invalid]="ariaInvalid"
      [attr.aria-describedby]="ariaDescribedByErrors"
      (keydown)="onkeydown($event)"
      (keydown.enter)="onEnterPressed($event)"
      (focus)="onFocus()"
      (focusout)="onFocusOut()">
    </textarea>
  </div>
  <div [id]="errorsId" *ngIf="hasSubmitted && form?.controls[element.name]?.errors" class="text-danger" role="alert">
    <span *ngIf="form?.controls[element.name].hasError('required')">{{translationErrorLabelMap.get('LABEL_ERROR_FIELD_REQUIRED')}}</span>
    <span *ngIf="form?.controls[element.name].hasError('pattern') && element?.errorLabel">{{element.errorLabel}}</span>
  </div>
</form>
