<p *ngIf="streamingWords?.length"
   class="message_innerhtml marked"
   [style.color]="color">
  <span *ngFor="let w of streamingWords; trackBy: trackStreamingWord"
        class="stream-word"
        [style.animation-delay]="(w.index * 80) + 'ms'">{{ w.word }} </span>
</p>

<p *ngIf="!streamingWords?.length && karaokeWords?.length"
   class="message_innerhtml marked"
   [style.color]="color">
  <span *ngFor="let w of karaokeWords; trackBy: trackKaraokeWord"
        class="wss-word"
        [class.future]="w.state === 'future'"
        [class.active]="w.state === 'active'"
        [class.past]="w.state === 'past'">{{ w.text }}&nbsp;</span>
</p>

<p *ngIf="!streamingWords?.length && !karaokeWords?.length"
   #messageEl
   class="message_innerhtml marked"
   [innerHTML]="printMessage(text, messageEl, this) | marked"
   [style.color]="color"></p>
