:host {
    --backgroundColor: #{var(--blue)};
    --textColor: #{var(--bck-msg-sent)};
    --hoverBackgroundColor: #{var(--bck-msg-sent)};
    --hoverTextColor: #{var(--blue)};
    --buttonFontSize2: #{var(--button-font-size)};
    --max-width: #{var(--button-in-msg-max-width)};
    --padding: #{var(--button-in-msg-padding)};
    --font-family: #{var(--button-in-msg-font-family)};
    --buttonBorderColor: #{var(--button-border-color)};
    --buttonColor: #{var(--button-color)};
    --buttonBackgroundColor: #{var(--button-background-color)};
}

.button-in-msg {
    padding: var(--padding);
    position: relative;
    min-width: inherit;
    cursor: pointer;
    border: 1px solid var(--buttonBorderColor);
    background: var(--buttonBackgroundColor);
    font-family: var(--font-family);
    font-size: var(--buttonFontSize2);
    color: var(--buttonColor);
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 16px;
    font-weight: 500;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    padding: 10px 16px;
    margin: 3px;
    transition: background-color .2s ease;
}

.action {
    background: var(--backgroundColor);
    transition: background-color .6s ease;
    &:focus,
    &:hover {
        color: var(--hoverTextColor);
        background:  var(--hoverBackgroundColor);
        // transform: scale(1.05);
        .icon-button-action {
            svg {
                fill: var(--hoverTextColor);
            }
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%,-50%,0);
        background: rgba(white,.2);
        border-radius: 100%;
        transition: width .5s ease, height .5s ease;
    }
    &.active {
        &:after {
            width: 200px;
            height: 200px;
        }
        
    }
    
    // &:focus{
    //     color: white;
    //     background:  rgb(42, 106, 193);
    // }
    // &:hover {
    //     transition: background-color .6s ease;
    // //     color: white;
    // //     background:  rgb(42, 106, 193);
    // }
    // &:active {
    //     &:after {
    //         width: 200px;
    //         height: 200px;
    //     }
    // }
}


.disabled {
    // border: 1px solid #999999;
    // background-color: #cccccc;
    // color: #666666;
    pointer-events: none;
}
