<div class="audio-recorder">
      <button *ngIf="audioUrl" (click)="deleteRecording()"><i class="material-icons">delete_outline</i></button>

      <chat-audio-track  *ngIf="audioBlob"
          [audioBlob] = "audioBlob"
      ></chat-audio-track>
     
    <button *ngIf="!audioUrl" class="mic-button" (mousedown)="startRecording()" (mouseup)="stopRecording()"><i class="material-icons">mic_none</i></button>
    <!-- <button *ngIf="isRecording" (click)="stopRecording()"><i class="material-icons">pause_circle_outline</i></button> -->
    
    <button *ngIf="audioUrl" (click)="sendMessage()">
      <span class="v-align-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  height="20" width="24" viewBox="0 0 24 20" xml:space="preserve">
              <path d="M1.8,18.9V1.7L22,10.3L1.8,18.9z M3.9,15.6l12.6-5.4L3.9,4.9v3.7l6.4,1.6l-6.4,1.6V15.6z M3.9,15.6V4.9v7V15.6z"/>
          </svg>
      </span>
    </button>

</div>